.header {
    padding: 30px 30px 0px 30px;
}

.container_body {
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
}

.explanation {
    width: 52%;
    padding: 30px 30px 0px 30px;
}

.graph_container {
    width: 48%;
}