.content {
    text-align: center;
    padding: 50px
}

.title {
    padding-bottom: 20px;
}

.subtitle {
    color: #333;
    font-size: large;
    font-weight: bold;
}

.centerText {
    margin: auto;
    width: 80%;
}

.button {
    margin: 20px;
}

.disclaimer {
    display: inline-block;
    padding: 5px 10px;
    background: #eee;
    border-radius: 0.5vh;
    font-size: medium;
}

.bottom {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0;
}