/*html {*/
/*    font-family: system-ui, sans-serif;*/
/*    font-size: 1.25rem;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    padding: 0 1.5rem;*/
/*}*/

/*svg {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*}*/

.flex_row {
    display: flex;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    /*justify-content: space-between;*/
}

.header_container{
    display: flex;
    flex-direction: row;
    height: 200px;
}

.header {
     /*position: relative; */
    padding: 30px 30px 0px 30px;
    width: 40%;
}

.summary{
    width: 60%;
    padding: 30px 30px 0px 30px;
}

.map_container {
    /*height: 200px;*/
    /*background: rgba(0, 255, 0, 0.2);*/
}

.red {
    background: rgba(255, 0, 0, 0.2);
}

.green {
    background: rgba(0, 255, 0, 0.2);
}

.blue {
    background: rgba(0, 0, 255, 0.2);
}