/*html {*/
/*    font-family: system-ui, sans-serif;*/
/*    font-size: 1.25rem;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    padding: 0 1.5rem;*/
/*}*/

/*svg {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*}*/

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
}

.explanation {
    /* position: relative; */
    padding: 40px 40px 0px 40px;
}

.map {
    position: relative;
}