.popup-content {
    margin: auto;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 80%;
    padding: 30px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}