.app {
    text-align: center;
    padding-top: 2rem;
}

.center {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    position: relative;
    top: 2vh;
    left: -7vh;
}

.red {
    background: rgba(255, 0, 0, 0.2);
}

.green {
    background: rgba(0, 255, 0, 0.2);
}

.blue {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y:scroll;
    overflow-x: visible;
    /*justify-content: center;*/
    /*align-items: center;*/
}