.app {
    text-align: center;
    padding-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background: rgba(255, 0, 0, 0.2);
}

.green {
    background: rgba(0, 255, 0, 0.2);
}

.blue {
    background: rgba(0, 0, 255, 0.2);
}